<ul class="space-y-6">
  <% @posts.each do |post| %>
    <li class="border-b border-gray-300 pb-6">
      <%= link_to post.title, post_path(slug: post.slug), class: "text-xl text-primary-600 hover:text-primary-500 transition-colors font-medium block mb-2" %>
      <time class="text-sm text-gray-500"><%= post.formatted_date %></time>
    </li>
  <% end %>
</ul>
