<footer>
  <p>
    <%= link_to "GitHub", "https://github.com/JalenYan", target: "_blank" %> |
    <%= link_to "X", "https://x.com/jalen_yan", target: "_blank" %> |
    <%= mail_to "jinlianggg@outlook.com" %>
  </p>
</footer>
