<header class="border-b border-gray-200 bg-white">
  <div class="mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-6 w-full max-w-3xl flex justify-between items-center">
    <%= link_to "严金靓 Jalen", root_path, class: "text-xl sm:text-2xl font-bold text-gray-900 hover:text-gray-700" %>
    <nav>
      <%= link_to "About", about_path, class: "text-sm sm:text-base text-gray-600 hover:text-primary-600 transition-colors" %>
    </nav>
  </div>
</header>
